:root{

    --OrangeDigitalTasks:  #FEAD23;
    --NormalFont:"Kufam", sans-serif;
    
}

body{
    background-color: #F5F5F5;
    font-size: 10PX;
    font-size: var(--NormalFont);
}

/* Scroll style */

::-webkit-scrollbar {
    width: .5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.contentWrapper{
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto 2fr auto;
}  


main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

header{
    height: 30%;
    width: 100%;
    padding: 1.5rem;
}

header h1{
    text-align: center;
}

.formOrcamento{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#historicalContainer{
    background-color: #cbc8c88d;
    height: 350px;
    width: 100%;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    overflow: scroll;
    overflow-x: hidden;
}

#historicalContainer .pastBudgets{
    display: flex;
    flex-flow: column;
    background-color: bisque;
    width: 100%;
    padding: 0rem .5rem 1rem .5rem;
} 

#historicalContainer .pastBudgets:first-child{
    padding: 1rem .5rem 1rem .5rem;
}

#historicalContainer .pastBudgets p{
    font-size: 1.2rem;
}

footer{
    height: 20%;
    width: 100%;
    padding: 1.5rem;
}

footer p {
    text-align: center;
    font-size: 1rem;
    color: var(--OrangeDigitalTasks);
}